@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
img {
    display: block;
   
}
:root {
    font-size: 16px;
    scroll-behavior: smooth;
    color: #FFFFFF;
}
@media (min-width:375){ 
    .header-nav {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: right;
        font-size: 22px;
        justify-content: space-around;
    }
}