.container-tickets {
    background: linear-gradient(to top, #301d55, #16171F);
    text-align: center;
}
.tickets-title {
    font-family: 'Abril Fatface', cursive;
    color: #FFFFFF;
    font-size: 60px;
    line-height: 72px;
    overflow-wrap: break-word;
    padding-top: 200px;
}
.tickets-text {
    font-family: 'Lato', sans-serif;
    color: rgb(169, 191, 211);
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 28.8px;
}
.tickets-cards {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 350px;
    padding-right: 350px;
}
.tickets-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
}
.card_title {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.card_text {
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
}
.card-pic {
    width: 150px;
}